/*______________________________ Bolck principaux ____________________________________________ */

html, body {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}

header {
  height: 100px;
  position: relative;
  display: block;
  background:linear-gradient(to left, #a2d2b7 0%, #26ad7c 100%);
}

#map {
  height: 100%;
  z-index: 1;
  border-top: solid white 5px;
}






/*______________________________ Bandeau ____________________________________________ */


/* Titre + image (pas le logo AGATE) */
.header-title {
  font-family: 'Lobster';
  color:white;
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 150px;
  
} 

/* Picto devant titre*/
.picto_carte {
  position: fixed;
  left: 30px;
  top: 15px;
  height:70px;
  width: 70px;
}

/* LOGO AGATE */
.logo_agate {
  position: fixed;
  right: 5px;
  top: 0;
  height:100px;
  width: 100px;
}





/*______________________________ legende ____________________________________________ */

            /* ETAPE 1 : Block legende style generale */ 

#sidebar {
  display: block;
  width: 28%;
  min-width: 320px;
  height: calc(200vh - 100px);
  float: left;
  position: absolute;
  z-index: 2;
  background: linear-gradient(to top, #7b9cb1 0%, #566f7e 100%);
  border-top: solid white 5px;
}

.legend {
  margin-top: 30px;
  margin-left: 20px;
}

            /* ETAPE 2 : Titre des principaux menu */ 

/* block des titre principaux */
.accordion {
  justify-content: space-between;                       /* Alignement par rapport à l'axe principale*/           
  align-items: center;                               /* Alignement par rapport à l'axe secondaire*/
  width: 100%;
  margin-top: 25px;
  margin-bottom: 5px;
  border-radius: 5px 0px 0px 5px ;
  transition: 0.1s;
  cursor: pointer;
  list-style-type: none;
}

/* Titre */
.legend_title {
  font-family: 'Nunito Sans';
  color:white;
  font-size: 18px;
  margin-left: 15px;
  text-align: left;
}

/* Picto */
.picto_legende {
  position: relative;
  height:10%;
  width: 10%;
}




            /* ETAPE 3 : STYLE FLECHE DES TITRE PRINCIPAUX */ 
/* Avant l'ouverture du menu décochage => style flèche */
.accordion:after {
  content: '\276F';
  font-size: 20px;
  color: white;
  float: right;
  margin-right: 15px;

}

/* A l'ouverture du menu => style flèche*/
.active:after {
  transform: rotate(90deg);
  transition-duration: 0.3s;
}



            /* ETAPE 4 : CHECKBOX */ 

/* Styles block contenant les checkbox)*/
.panel {
  display: flex;
  flex-direction: column;
  margin-left: 60px; 
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  
}

.sublegend {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin-top: 10px;
  margin-left: -2px;
  font-family: 'Nunito Sans';
  color:white;
  font-size: 14px;
}

.sublegend > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px !important;  
  margin-bottom: 15px !important;

}
/* styles texte checkbox */ 
label {
  margin-left: 20px !important;
  
}




            /* ETAPE 3 : STYLE COCHE CHECKBOX */ 
/* Aspect générale de la checkbox*/
.checkbox {
  border-radius: 2px !important;
  background: transparent !important;
  width: 1.8rem !important;
  height: 1.8rem !important;
  box-shadow:none !important;
  border: solid white 2px;
}

/* Style coche choché*/
.checkbox:checked {
  background-image:none !important;
  background-color: white !important;
}





/*______________________________ POPUP ____________________________________________ */
/*ATTENTION: en lien avec le carte.js */

/* Style Block des popup*/
#infobar {
  display: block;
  top: 100;
  right: 0;
  width: 20%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background: rgba(255, 255, 255, .8);
  border: solid white 5px;
}

/* Style titre principal pop-up*/
.info-titre{
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Nunito Sans';
  font-weight: bold;
  color:black;
  text-align: center;
  font-size: 18px;
}

/* Style contenu texte pop-up*/
.info-adresse, .info-ouverture, .info-internet {
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Nunito Sans';
  color:black;
  text-align: left;
  font-size: 14px;
}









/*______________________________ ICON CLUSTER ____________________________________________ */

/* Regroupe: Style image + position + typo chiffre*/
.cluster_famille {
  height: 70px;
  width: 70px;
  text-align: center !important;
  line-height: 55px;
  font-size: 25px;
  font-family: 'Nunito Sans';
  font-weight: bolder;
  color: #23908a;
  background-image: url('img/cluster_famille.png');
}

.cluster_emploi {
  height: 70px;
  width: 70px;
  text-align: center !important;
  line-height: 55px;
  font-size: 25px;
  font-family: 'Nunito Sans';
  font-weight: bolder;
  color: #c7b0d5;
  background-image: url('img/cluster_emploi.png');
}

.cluster_sante {
  height: 70px;
  width: 70px;
  text-align: center !important;
  line-height: 55px;
  font-size: 25px;
  font-family: 'Nunito Sans';
  font-weight: bolder;
  color: #f39869;
  background-image: url('img/cluster_sante.png');
}

.cluster_admin {
  height: 70px;
  width: 70px;
  text-align: center !important;
  line-height: 55px;
  font-size: 25px;
  font-family: 'Nunito Sans';
  font-weight: bolder;
  color: #E8C451;
  background-image: url('img/cluster_admin.png');
}




/*______________________________ POPUP ____________________________________________ */

/* Fermeture POPUP - 
ATTENTION: utilisé dans le carte.js*/
#picto_fermeture {
  position: fixed;
  right: 10px;
  top: 110px;
  height:20px;
  width: 20px;
  cursor: pointer;
}
